.login-container {
    background-color: aliceblue;
    border: solid red 2px; 
    height: 400px;
    width: 400px; 
    padding-left: 50px; 
    padding-top: 50px;
    display: flex; 
    position: absolute; 
    right: 0; 
}

.homepage-container {
    position: relative;
    width: 100%;
    height: 100%; 
}

.signup-link {
    color: blue;
    text-decoration-line: underline;
}